# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore content of `bin` dir
#bin/
# or
bin/*

# ignore SU2 output files
*.dat
*.vtk
*.csv


# ignore MBDyn output files
Event*.log
*.frc
*.ine
*.jnt
*.log
*.mov
*.out
*.sock

# ignore coupling output files
convergence*.txt
iterations*.txt
*watchpoint.txt

# results
.ipynb_checkpoints/

# Eclipse related files and dirs
.project
.cproject
.settings/
RemoteSystemsTempFiles/




