<?xml version="1.0" encoding='UTF-8'?>

<precice-configuration>

  <solver-interface dimensions="2">

      <data:vector name="Forces0"/>
      <data:vector name="DisplacementDeltas0"/>

      <mesh name="SU2_Mesh0">
         <use-data name="Forces0"/>
         <use-data name="DisplacementDeltas0"/>
      </mesh>

      <mesh name="Rigid_Mesh">
         <use-data name="DisplacementDeltas0"/>
         <use-data name="Forces0"/>
      </mesh>

      <participant name="SU2_CFD">
         <master:mpi-single/>
         <use-mesh name="Rigid_Mesh" from="Rigid"/>
         <use-mesh name="SU2_Mesh0" provide="yes"/>
         <write-data name="Forces0" mesh="SU2_Mesh0"/>
         <read-data  name="DisplacementDeltas0" mesh="SU2_Mesh0"/>
         <mapping:petrbf-compact-tps-c2 support-radius="0.05"
            direction="write" from="SU2_Mesh0" to="Rigid_Mesh"
            constraint="conservative" timing="initial"/>
         <mapping:petrbf-compact-tps-c2 support-radius="0.05"
	        direction="read" from="Rigid_Mesh" to="SU2_Mesh0"
            constraint="consistent" timing="initial"/>
      </participant>

      <participant name="Rigid">
         <use-mesh name="Rigid_Mesh" provide="yes"/>
         <write-data name="DisplacementDeltas0" mesh="Rigid_Mesh"/>
         <read-data  name="Forces0"      mesh="Rigid_Mesh"/>
        <watch-point mesh="Rigid_Mesh" name="point1" coordinate="0;0" />
      </participant>

      <m2n:sockets from="SU2_CFD" to="Rigid"  exchange-directory="../" distribution-type="gather-scatter"/>

      <coupling-scheme:parallel-implicit>
      <!--coupling-scheme:serial-implicit-->
           <participants first="SU2_CFD" second="Rigid"/>
           <max-timesteps value="400"/>
           <timestep-length value="1e-2" />
           <exchange data="Forces0" mesh="Rigid_Mesh" from="SU2_CFD" to="Rigid"/>
           <exchange data="DisplacementDeltas0" mesh="Rigid_Mesh" from="Rigid" to="SU2_CFD" />
           <max-iterations value="50"/>
           <relative-convergence-measure limit="1e-3" data="DisplacementDeltas0" mesh="Rigid_Mesh"/>
           <relative-convergence-measure limit="1e-3" data="Forces0" mesh="Rigid_Mesh"/>
           <extrapolation-order value="2"/>

           <post-processing:IQN-ILS>
            <data name="DisplacementDeltas0" mesh="Rigid_Mesh"/>
            <data name="Forces0" mesh="Rigid_Mesh"/>
            <preconditioner type="residual-sum"/>
            <filter type="QR1" limit="1e-6"/>
            <initial-relaxation value="0.5"/>
            <max-used-iterations value="40"/>
            <timesteps-reused value="10"/>
           </post-processing:IQN-ILS>

           <!-- <post-processing:aitken>
              <data name="DisplacementDeltas0" mesh="Calculix_Mesh"/>
              <initial-relaxation value="0.9"/>
           </post-processing:aitken> -->
           
      </coupling-scheme:parallel-implicit>
      <!--/coupling-scheme:serial-implicit-->


   </solver-interface>

</precice-configuration>
